<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=DESKTOP-UH8EFDI;Initial Catalog=Messanger;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MessangerContext" connectionString="metadata=res://*/Engine.MessengerModel.csdl|res://*/Engine.MessengerModel.ssdl|res://*/Engine.MessengerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UH8EFDI;initial catalog=Messanger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>